
.standard-advanced {
    margin-top: 15px;
}

.site-inner {
    font-size: 16px;
}

@media only screen and (max-width: 1200px) {
    .col-lg-3 {
        display: none;
    }
}

.tab-content > h2, .tab-content > h3 {
    padding-top: 106px;
    margin-top: -96px;
    background-clip: content-box;
    z-index: -999;
    pointer-events: none;
}

/* When heading is close to bottom, need to make sure menu is still on top */
.toc {
    background: $background-color;
}

/* Make menu levels clearer */
.outer-menu {
    background-color: $bootstrap-gray;
    border-radius: 4px 4px 0 0;
}
.outer-menu.nav-tabs > li.active > a, .outer-menu.nav-tabs > li.active > a:hover, .outer-menu.nav-tabs > li.active > a:focus {
    background-color: #f9f9f9;
}

.inner-menu {
    background-color: #f9f9f9;
}

/* Stop anchors being hidden behind header */  
.wrap h1:before, .wrap h2:before, .wrap h3:before, .wrap h4:before {
    display: block;
    content: "";
    height: 200px;
    margin: -200px 0px 0px;
}

/* h1's are a little too much */
.standard-docs h1 {
    color: $background-color;
    height: 200px;
}

/* When a ul is next to a p, don't have the space after the p*/
p ~ ul {
    margin-top: -24px;
}
