$background-color: #EEE;
$accent-color: #222;
$legacy-accent-color: #EAEF45;
$link-color: #95B125;
$text-color: #505256;

@import 'ocds_site';
@import 'ocds_inline';
/*@import 'old';*/

.standard-advanced {
    margin-top: 15px;
}

