$background-color: #EEE;
$accent-color: #EAEF45;

/* MAIN */

body {
    background: url("/standard/static/images/absurdidad.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 18px;
}

.main.container {
    background-color: white;
}

footer {
    background-color: $background-color;
    > .container {
        background-color: $background-color;
        font-size: .7em;
        padding-top: 1em;
    }
}

/* HEADER */

.navbar-inverse {
    color: white;
}

#intro-minimize {
    font-size: .8em;
    color: $accent-color;
}

