$background-color: #EEE;
$accent-color: #222;
$link-color: #95B125;
$text-color: #505256;

/* MAIN */

body {
	background: url("/standard/static/images/absurdidad.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-size: 18px;
	font-family: 'Arvo', sans-serif;
	color: $text-color;
}

h4 {
    font-style: italic;
}

.main.container {
    background-color: white;
}

footer {
    background-color: $background-color;
    > .container {
        background-color: $background-color;
        font-size: .7em;
        padding-top: 1em;
    }
}

/* HEADER */

.navbar-inverse {
    color: white;
}

.navicon {
    color: $accent-color;
}

.nav-tabs > li.topnav-right {
	float:right;
}

/* CONTENT */
img {
    /* Responsive images */
    max-width: 100%; 
    height: auto !important;
    -ms-interpolation-mode: bicubic; 
}

.schema-holder {
    height: 100%;
    clear: both;
    > iframe {
        min-height: 800px;
    }
}

.site-title a {
	 background: url(/standard/static/images/ocstd_logo.png) no-repeat;
}

.site-header:after {
	clear:both;
	content: " ";
	display: table;
}

.site-header:before {
	content: " ";
	display: table;
}

.site-header {
	letter-spacing: 1px;
	position: fixed;
	width: 100%;
	z-index: 999;
	padding-top: 20px;
	height: 95px;
	top: 0;
	background-color: white;
}

.wrap {
	margin: 0px auto;
	max-width: 1140px;
}

.title-area {
	float: left;
	width: 400px;
}

h1.site-title {
	margin-top: 0;
}

.site-title {
	line-height: 1;
}

.site-header .site-title a {
	height: 75px;
	display: block;
	text-indent: -9999px;
	max-width: 400px;
}

.header-widget-area.widget-area {
	float: right;
	text-align: right;
	width: 720px;
}

.genesis-nav-menu {
	clear: both;
	color: #fff;
	font-size: 16px;
	font-family: 'Arvo', sans-serif;
	font-weight: 800;
	line-height: 1.5;
	width: 100%;
	padding-top: 15px;
}

.genesis-nav-menu > .menu-item {
	display: inline-block;
	margin: 0;
	text-align: left;
}

a {
	color: $link-color;
}

.genesis-nav-menu a {
	border: medium none;
	display: block;
	font-size: 16px;
	padding: 10px;
	position: relative;
	font-weight: 400;
	text-decoration: none;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: $text-color;
}

.vertical-space {
	margin-top: 96px;
}

.under-standard-header {
	margin-top: 96px;
}

/* Side navigation */

.side-nav.affix {
	max-width: 255px;
}

.nav > li.active > a {
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: $link-color;
	font-weight: 500;
}

.toc > .nav > li > a {
	display: block;
	font-size: 16px;
	padding: 4px 20px;
	font-weight: 400;
}

.toc > .nav > li > .nav > li > a {
	display: block;
	font-size: 14px;
	padding-left: 30px;
}

.toc > .nav > li > .nav > li > .nav {
  padding-left:15px;
}

.toc > .nav > li > .nav > li > .nav {
  display:none;
}

.toc > .nav > li > .nav > li.active > .nav {
  display:block;
}

.toc > .nav > li > .nav > li > .nav > li > a {
	display: block;
	font-size: 12px;
	padding-left: 40px;
}

.toc > .nav > li > .nav > li > .nav > li > .nav {
  display:none;
}

.toc > .nav > li > .nav > li > .nav > li.active > .nav {
  display:block;
}

/* main content */

.tab-content > h2:before, .tab-content > h3:before {
    display: block;
    content: "";
    height: 100px;
    margin: -100px 0px 0px;
}
