<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html class="modern"> <!--<![endif]-->
  <title>OCDS Draft Standard</title>
  <meta name="description" content="OCDS Draft Standard">
  <meta name="author" content="Sarah Bird">
  
  
      <link type="text/css" href="/standard/static/css/site.css" rel="stylesheet"/>
  
  
    <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.9/annotator.min.css">

</head>

<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="/standard/" title="Go to latest release" class="navbar-brand">Open Contracting Data Standard</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/standard/" title="Home"><span class="oi oi-home navicon-legacy" aria-hidden="true"></span></a></li>
                <li><a href="#" title="Help" data-toggle="modal" data-target="#help"><span class="oi oi-question-mark navicon-legacy" aria-hidden="true"></span></a></li>
                

<li><a title="Login" href="/standard/accounts/login/?next=/standard/r/draft_june_20_2014/" title="About"><span class="oi oi-account-login navicon-legacy" aria-hidden="true"></span></a></li>

<li><a href="#" title="Change versions" data-toggle="modal" data-target="#changeVersion"><span class="oi oi-fork navicon-legacy" aria-hidden="true"></span></a></li>

            </ul>
        </div>
    </div>
    <div class="main container">
        
			{% include 'main/legacy/legacy-panel.html' %}
        
    <h1>Open Contracting Data Standard - Draft June 20 2014</h1>
    
        <p>Released on: Wed, 18 Jun 2014 00:20:51 GMT</p>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
        <h4 class="panel-title"> <span class="glyphicon glyphicon-question-sign"></span> Share your comments</h4>
        </div>
        <div class="panel-body">
            <p>The online version of this document is open for comment. You can share your comments in two ways:
            <ul>
                <li>Inline comments on the document - Login, by clicking on <span class="oi oi-account-login" style="font-size: .8em"></span>, and then highlight portions of text to add comment. To "reply" to an existing comment, highlight the same portion of text, and then add your comment. See <span class="oi oi-question-mark" style="font-size: .8em"></span> for more help on commenting.</li>
                <li>Mailing list - If you have more general comments that don't fit well as inline comments, then please do join our <a href="https://groups.google.com/a/webfoundation.org/forum/#!forum/public-ocds">mailing list</a> and start a discussion with your thoughts.</li>
            </ul>
            Throughout this document there are specific questions for consultation included, but you are not limited to responding to these questions, we welcome all input you can offer.</p>
            
        </div>
    </div>
    
    
    
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="glyphicon glyphicon-warning-sign"></span> Not the latest release.</h4>
        </div>
        <div class="panel-body">
            <p>You are viewing vdraft june 20 2014. The latest release is <a href="/standard/r/latest/">v0.3.3</a></p>
        </div>
    </div>
    
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tabs-1" data-toggle="tab">Main</a></li>
        <li><a href="#tabs-2" data-toggle="tab">Definitions</a></li>
        <li><a href="#tabs-3" data-toggle="tab">Schemas</a></li>
        <li><a href="#tabs-4" data-toggle="tab">Merging</a></li>
        
    </ul>
    <div id="annotatable"> 
        <div class="tab-content">
            <div class="tab-pane active" id="tabs-1"> <p><br />
<div class="panel panel-warning">
    <div class="panel-heading">
       <h4 class="panel-title"> <span class="glyphicon glyphicon-comment"></span>Open for consultation</h4>
     </div>
     <div class="panel-body"><p>This version is open for consultation until July 15th. Visit <a hef="http://open-contracting.github.io">http://open-contracting.github.io</a> for more background information.</p>
     </div>
</div></p>
<div class="toc">
<ul>
<li><a href="#about-this-document">About this document</a></li>
<li><a href="#background-and-context">Background and context</a><ul>
<li><a href="#motivation">Motivation</a></li>
<li><a href="#development-process">Development process</a></li>
<li><a href="#sources">Sources</a></li>
</ul>
</li>
<li><a href="#conceptual-model">Conceptual Model</a><ul>
<li><a href="#the-contracting-process">The contracting process</a></li>
<li><a href="#conceptual-model_1">Conceptual Model</a></li>
<li><a href="#add-on-information">Add on information</a></li>
<li><a href="#a-note-on-framework-contracts">A note on framework contracts</a></li>
<li><a href="#linking-to-documents">Linking to documents</a></li>
<li><a href="#defining-a-unique-contracting-process">Defining a unique contracting process</a></li>
</ul>
</li>
<li><a href="#the-contracting-record">The contracting record</a></li>
<li><a href="#contracting-releases">Contracting releases</a><ul>
<li><a href="#release-tracking">Release tracking</a></li>
</ul>
</li>
<li><a href="#use-cases">Use Cases</a></li>
<li><a href="#next-steps">Next steps</a></li>
<li><a href="#schema-re-use">Schema re-use</a></li>
<li><a href="#credits">Credits</a></li>
</ul>
</div>
<h2 id="about-this-document">About this document</h2>
<p>This document sets out a proposed conceptual model for the <a href="http://open-contracting.github.io">Open Contracting Data Standard</a>, and poses a series of questions for consultation. </p>
<p>It <em>does not</em> provide a field-level specification of the standard, or how the data may be represented in specific file formats. That will be provided through the beta release of the standard in Q3 2014, developed based on responses to this document. </p>
<h2 id="background-and-context">Background and context</h2>
<h3 id="motivation">Motivation</h3>
<p>Countries signing up to the <a href="http://www.open-contracting.org/global_principles">Open Contracting Global Principles</a> commit to share "information related to the formation, award, execution, performance, and completion of public contracts" including data on all stages of contracting, from pre-bid to performance evaluations, and information on subcontracting arrangements. </p>
<p>The Open Contracting Data Standard is being developed to allow much of this information to be shared as structured data: delivered in ways that enable the widest possible range of users to benefit from greater transparency of contracting arrangements and supporting greater participation, monitoring and oversight in contracting processes.</p>
<p>The Open Contracting Data Standard is a core product of the <a href="http://www.open-contracting.org/">Open Contracting Partnership</a>. 
Version 1.0 of the standard is being developed for the OCP by the <a href="http://www.webfoundation.org">World Wide Web Foundation</a> and <a href="http://www.aptivate.org">Aptivate</a>, through a project supported by 
The <a href="http://www.omidyar.com/">Omidyar Network</a> and the <a href="http://www.worldbank.org">World Bank</a>.</p>
<p>The development process is also a process of action-research into creating accessible and effective open data standards, and exploring opportunities for <a href="http://devinit.org/report/joined-data-building-blocks-common-standards/">Joined Up Data</a>. </p>
<h3 id="development-process">Development process</h3>
<p>This first release from the development of an Open Contracting Data Standard presents a high-level overview of a proposed data model.</p>
<p>Following a technical scoping exercise we have adopted a development process based on:</p>
<ul>
<li>specifying a single format-independent conceptual model;</li>
<li>developing this into a data model, identifying common vocabularies and taxonomies to use in defining fields, and creating new fields where required;</li>
<li>specifying how this data model should be represented in key formats such as CSV, JSON, XML and RDF, respecting the particular idioms most familiar in these formats.</li>
<li>identifying the tools that are necessary for standard to thrive such as aggregation and visualization.</li>
</ul>
<p>This document contributes to the first of these steps, offering a conceptual model for publishing Open Contracting Data and outlining the components that are captured within that model. The next phase of work will identify and create vocabularies covering key field definitions and will present a full data model. The final phase of this development process will recommend approaches to serialise this model and vocabulary using different formats. In parallel, work is taking place to develop a governance model for the future development of the standard. </p>
<h3 id="sources">Sources</h3>
<p>The development of the alpha data model has been based on:</p>
<ul>
<li><strong>Assessing data currently supplied through contract portals</strong> - in order to understand the data that governments currently hold and publish, and how it is structured. To carry out this analysis we created the <a href="http://ocds.aptivate.org/opendatacomparison/">Contracting Data Comparison tool</a>, and <a href="http://ocds.aptivate.org/opendatacomparison/datamap/">Contracting Data Map</a> which explores the fields of data available from a wide range of different government contracting data portals around the world. </li>
<li><strong>Exploring demand for data on contracting</strong> - to identify the ways in which different users think about contracting data, and how they want to use it. This work is ongoing, and only initial use cases are factored into this conceptual model. In the next iteration of the conceptual model and field level information, further emphasis will be placed on use cases. </li>
</ul>
<p>This initial iteration of the conceptual model is focussed on procurement processes. Future iterations will look at contracts in the land and extractives sector, and we anticipate this will lead to further developments in the terminology used. </p>
<p>We offer this draft data model as the basis for a discussion. Following feedback over June and July 2014 we will revise or confirm the conceptual model, and will work towards providing more detailed field-level information by the third quarter of 2014.</p>
<h2 id="conceptual-model">Conceptual Model</h2>
<h3 id="the-contracting-process">The contracting process</h3>
<p>The contracting process is the sequence of events related to the lifespan of a contract, beginning with planning and culminating in contract closure. </p>
<p><img alt="Visual of opencontrating process" src="https://raw.githubusercontent.com/open-contracting/standard/master/standard/assets/contracting%20process.png" /></p>
<p><code>*</code> Tendering &amp; Award is more broadly known as Formation to accomodate other
types of procurement process, we use the term formation within the standard to accomodate this</p>
<p><code>**</code> We use the term Implementation instead of Execution in the standard to refer to the period while the contract is being performed.</p>
<p>For descriptions of the phases, taken from the book <em>Open Contracting - A guide for practitioners by practitioners</em> <sup id="fnref:1"><a class="footnote-ref" href="#fn:1" rel="footnote">1</a></sup> above see the "Definitions" tab at the top.</p>
<h3 id="conceptual-model_1">Conceptual Model</h3>
<p>We propose an Open Contracting Data Standard consisting of two parts:</p>
<ul>
<li>
<p>A <strong>contracting record</strong> - a core summary record used to describe key
  features of the comple Contracting Process. It is updated as 
  new information becomes available to accurately reflect the state of tender, 
  award or contract processes. The contracting record should provide an 
  at-a-glance view of key information used in locating and analysing current, 
  past or future contracting activities.</p>
</li>
<li>
<p>A set of <strong>contracting releases</strong> - specific releases of information, 
  such as tender notices, award notices, or details of a contract. 
  The revision history of releases should be kept, and releases will often 
  have a number of attached documents. The contracting releases provide 
  in-depth information about a particular aspect of the contracting process, 
  and should be published in a timely fashion.  </p>
</li>
</ul>
<p>The information in contracting <strong>releases</strong> is used to build a contracting 
<strong>record</strong> - each contracting release must, therefore, be tied to a unique 
<strong>open contracting identifier</strong>. See later section on identifying a unique 
contracting process.</p>
<p><img alt="Visual of publishing process" src="https://raw.githubusercontent.com/open-contracting/standard/master/standard/assets/releases%20and%20record.png" /></p>
<p>The Contracting Record above shows the core components of our data model.</p>
<ul>
<li>Buyer<ul>
<li>The buyer is the department, agency or entity who is paying for
    the goods /services in the contract. The buyer may be distinct
    from a procuring agency or awarding body - an independent entity
    that runs the procurement process (tender and award) - this
    allows for pooling of resources as well as enhancing
    impartiality).</li>
</ul>
</li>
<li>Supplier<ul>
<li>The supplier is the entity, or entities, providing the goods or services in
    the contract. It could be an individual, a private organization,
    or another public body.</li>
</ul>
</li>
<li>Items - Goods / services / works<ul>
<li>Details, ideally at the line item level, of the goods,
    services or works being procured. This should include a standardized code (detailing 
    the items category e.g. construction or agricultural goods)
    &amp; description as well as any supporting information or documents, such as technical specifications. This category will be expanded later
    as we move to support other types of contract beyond procurement.</li>
</ul>
</li>
<li>Formation<ul>
<li>In the case of standard procurement, this the information about the tender process. It may include:
    opening dates, closing dates, consultation information, the type
    of bidding process (open process, selective tendering, limited
    tendering or sole source), award criteria (lowest cost, best
    proposal, appropriate quality), as well as links to supporting
    documentation, a tender ID, and a link to the tender notice. It may
    also include information such as the number of bids and bidders who
    participated in the process.</li>
<li>This category will also include other types of formation such as
    negotiation of Public Private Partnerships, extractives and land contracts. We will be focusing on these 
    other types of contracting after building out all the fields for standard procurement.</li>
</ul>
</li>
<li>Award<ul>
<li>This is information about the Contract Award e.g. the award date, and the
    awarded value. This is distinct from the contract information which reflects the
    actual contract document which is finalized and signed after an award. In the case
    of framework contracts, where multiple contracts are issued in a contracting process, the
    award would contain the details of the framework award.</li>
</ul>
</li>
<li>Contract<ul>
<li>Information about the contract document(s) itself.
    Including award signature date, start &amp; end date, 
    links to the award &amp; contract documents, and termination information. 
    It would also capture details of contract amendments (change of value, deliverables
    alterations, no-cost extensions)</li>
</ul>
</li>
<li>Implementation<ul>
<li>In implementation we store details related to the contract performance
    including details of payments made, evaluation and performance reports.</li>
</ul>
</li>
</ul>
<div class="panel panel-success">
    <div class="panel-heading">
       <h4 class="panel-title"> <span class="glyphicon glyphicon-question-sign"></span> Consultation questions</h4>
     </div>
     <div class="panel-body">
         <ul>
             <li>Does the proposed conceptual model make sense for the ways you want to publish or use open contracting data?</li>
             <li>Which do you need most: a summary contracting record, or detailed releases of information at each stage of the contracting process?</li>
             <li>Do these components cover all the relevant information you want to publish or access about contracting?</li>
             <li>Are we missing key elements in our description of what each component will contain?</li>
             <li>Is this the right scope for the version 1.0 standard?</li>
             <li>What are the most important fields you need in a summary contracting record?</li>
             <li>How does the proposed approach of having the contracting record represent the latest stage of contracting (i.e. overwriting earlier data) affect how you might publish or use open contracting data?</li>
         </ul>     
     </div>
</div>

<h3 id="add-on-information">Add on information</h3>
<p>In addition to the core components, there will be cases where
publishers, or users, need to augment the core data with their
own information. The standard will provide a mechanism for Add-On
information. This will include additional fields in core components as
well as Add On components (e.g. new kinds of <strong>contracting release</strong>).</p>
<p>The publishing and re-use of add-ons will be encouraged to try and
reduce duplication and facilitate reuse of tools. The use of Add-Ons
will be subject to the following restrictions<sup id="fnref:2"><a class="footnote-ref" href="#fn:2" rel="footnote">2</a></sup>:</p>
<ul>
<li>
<p>It must not use terms from outside this specification's terms where
    this specification's terms would suffice</p>
</li>
<li>
<p>It may use terms from outside this specification's terms where this
    specification's terms are insufficient.</p>
</li>
</ul>
<h3 id="a-note-on-framework-contracts">A note on framework contracts</h3>
<p>Many public procurements take place under framework agreements, or standing arrangements. These help facilitate routine purchasing. Suppliers are pre-approved to provide a list of goods or services. In
this case, there are typically multiple contracts under a given award. In the case of a framework contract an award notice would define the framework
and this information would be stored in the contracting record under Award. Then the multiple contracts that are issued under the contract will
hold the seperately issued contracts under this framework award.</p>
<h3 id="linking-to-documents">Linking to documents</h3>
<p>There are often many documents associated with a contracting process including tender specifications, contract documents, performance reports etc. The standard will
provide a way to link to these documents. We are considering how to handle documents in the contracting record. We
 may have a simplified contracting record that indicates that documents are available and a full contracting record that provides links to all
the available documents. As we flesh out the different serializations over July and August this will be defined. Document links will always 
be available through the release that declared them.</p>
<h3 id="defining-a-unique-contracting-process">Defining a unique contracting process</h3>
<p>For the data standard, defining a unique contracting process is critical for getting useful, comparable, clean data. But, there are cases 
where what the unique process is not obvious. For example, a framework contract has only one tender and award but many contracts associated with that award.</p>
<p>We define a unique contracting process as that with a unique tendering / competitive phase.</p>
<p><strong>Example 1</strong></p>
<div class="pull-left"><img alt="Multiple processes" src="https://raw.githubusercontent.com/open-contracting/standard/master/standard/assets/tender_notice_with_multiple_journeys.png"></div>

<p>This Tender notice has a single ID and six line items. However, to secure each item suppliers must enter a seperate bid and the competition is handled seperately for each item leading to 6 contracts. Because the competitive process is unique for each 6 items there are 6 contracting processes here, in spite of the single Tender Notice ID.</p>
<div class="clearfix"></div>

<p><strong>Example 2</strong>
<div class="pull-left"><img alt="Single process" src="https://raw.githubusercontent.com/open-contracting/standard/master/standard/assets/one_journey_multiple_contracts.png"></div></p>
<p>This snippet from a <a href="https://buyandsell.gc.ca/procurement-data/tender-notice/PW-14-00635129">tender notice</a> offers an unspecified number of contracts for the successful supplier(s). The details note that there is a limit of $25k per contract, anything higher than that must be rebid competitively. All of the $25k or less contracts that are awarded under the award that will result from this tender are part of a single contracting process, because of the single bidding process.</p>
<div class="clearfix"></div>

<h2 id="the-contracting-record">The contracting record</h2>
<p>The contracting record is a master document that collects together a summary of key information about a contracting process. </p>
<p>Each contracting record represents a single contracting process and should be uniquely identifiable.</p>
<p>The contracting record will be possible to serialize in a flat/table form with as little information loss as possible. </p>
<p>The contracting record will contains the latest version of the information for each of the core components, as well as information about 
the publishing source, the last updated information, and crucially, links to all releases associated with this contracting process.</p>
<p>The contracting record will reflect the latest state of the contracting process. 
For example, if a tender is issued for Widget A with a minimum value of $10 
and maximum of $20, at the tender stage the 'Amounts:minimum' would be $10, 
and 'Amounts:maximum' would be $20. If during consulation the range is 
determined to be unrealistic and a tender ammendment is issued changing the 
range of acceptable tenders to $20 - $30 then the contracting record would be 
updated to an 'Amounts:minimum' of $20 and 'Amounts:maximum' of $30. 
To see the history of these amounts would require looking at the individual 
contracting releases or tracking changes to the contracting record. </p>
<h2 id="contracting-releases">Contracting releases</h2>
<p>The contracting record is formed and updated through releases. Releases are
snapshots of information which may be the first time information has been 
released or they may be revisions or amendments. Examples of release types are:</p>
<ul>
<li>Tender notice (declaring formation information)</li>
<li>Tender notice amendment (an amendment to the formation information - perhaps
  after a clarification or consultation period)</li>
<li>Award notice</li>
<li>Award notice amendment</li>
<li>Contract signature (with details of the signed contract)</li>
<li>Contract amendment</li>
<li>Reports release (containing an implementation report)</li>
<li>Spending release (containing spending data or a reference to spending data)</li>
<li>Termination notice</li>
</ul>
<h3 id="release-tracking">Release tracking</h3>
<p>Ideally, each release will refer to the unique open contracting process id, 
and the contracting record will be updated with a link to each
notice and amendment, thereby providing a two-way data link.</p>
<p>In the event that the publisher is not maintaining a contract record,
the ID of the first notice will serve as the unique identifier moving
forward the contracting process. Subsequent notices and amendments may
have their own unique identifiers (e.g. an award notice identifier) but
they must all contain a reference to the unique identifier.</p>
<p>Each release, or a group of releases, will contain publisher
information, and each release will contain a release number and date
from that publisher. The idea is to accommodate the modularization of
publishing such that along the contracting process, different bodies
could publish different sets of releases. For example, one publisher
for tenders and awards, and a separate publisher for contracts
releases. In addition, third-party publishers may wish to augment the
contracting data with their own releases such as an Add On containing
geo-coding information.</p>
<div class="panel panel-success">
    <div class="panel-heading">
       <h4 class="panel-title"> <span class="glyphicon glyphicon-question-sign"></span> Consultation questions</h4>
     </div>
     <div class="panel-body">
         In future research we will be investigating different ways that amendments and updates to releases might be represented.
         <ul>
             <li>What approaches to representing and publishing amendments to releases could be adopted?</li>
         </ul>     
     </div>
</div>

<h2 id="use-cases">Use Cases</h2>
<p>This draft is based primarily on research of existing published datasets as well as preliminary work on use cases for data demand. In particular, we are seeking to support the following demands on the data:</p>
<ul>
<li>
<p>publishers release download-able data documenting tender opportunities, contract
    awards, contracts and contract amendments as part of transparency
    obligations</p>
</li>
<li>
<p>publishers release feeds of tender notices for individual suppliers
    and third-party data providers to stay up-to-date on contracting
    opportunities</p>
</li>
<li>
<p>publishers release feeds or downloads of award notices as part of trade-agreement and/or transparency obligations</p>
</li>
<li>
<p>users of data want to be able to compare costs of goods / services in one area compared to another</p>
</li>
<li>
<p>users want to be able to see joined-up information in one place that brings together the contracting process</p>
</li>
</ul>
<div class="panel panel-success">
    <div class="panel-heading">
       <h4 class="panel-title"> <span class="glyphicon glyphicon-question-sign"></span> Consultation questions</h4>
     </div>
     <div class="panel-body">
         <ul>
             <li>In your opinion, does the proposed conceptual model work for these use cases?</li>
             <li>Are there other important use cases we should be considering? </li>
             <li>Are there use cases you can envisage where the proposed conceptual model does not work well? </li>
         </ul>     
     </div>
</div>

<h2 id="next-steps">Next steps</h2>
<p>Over June 2014 we will be validating the conceptual model proposed in this document of a Contracing Process, Contracting Records and Contracting Releases. You are invited to add your comments directly to the online copy of this document at <a href="http://ocds.aptivate.org/standard/">http://ocds.aptivate.org/standard/</a>, or to join discussions on <a href="http://open-contracting.github.io/pages/community.html">the project technical e-mail list</a>. </p>
<p>Over July and August 2014 we will be fleshing out in more detail the data fields that belong to each of the core components, and will develop a full data model. The proposed model will be validated against a range of use cases developed through demand side research. </p>
<p>This data model will be format-agnostic. That is, it will be a generic model rather than a specific serialization in JSON, XML or CSV. </p>
<p>Following the development and validation of the model, we will outline a number of approaches to serialize this data in different priority formats. </p>
<p>Throughout this process we will be seeking to re-use existing data structures from prior standards. </p>
<h2 id="schema-re-use">Schema re-use</h2>
<p>This document is intended as a non-technical introduction to the
standard, and as a such does not include an ontology (the formal data
representation of the standard). However, its worth noting here that we
will be reusing existing specifications wherever appropriate. In
particular, we already know that Buyer and Supplier are types of
Organization, that will have People and Addresses. There are already
well-known schemas for Organizations, People and Addresses and so we
will re-use this existing standard work where possible.</p>
<p>There is an <a href="http://community.openspending.org/research/standard/">existing standardisation effort</a> 
for Budget and Spending data under development through the Open Spending project. In line with the principles of Joined Up 
Data we will explore ways to connect data in the Open Contracting Data Standard with data in the proposed Open Spending and 
Open Budget data standards. </p>
<div class="panel panel-success">
    <div class="panel-heading">
       <h4 class="panel-title"> <span class="glyphicon glyphicon-question-sign"></span> Consultation questions</h4>
     </div>
     <div class="panel-body">
         <ul>
             <li>Are there other standards we should looking to 'join up' to in order to supply tracing the full contracting process, beyond those aspects that will be captured in the Open Contracting Data Standard?</li>
         </ul>     
     </div>
</div>

<h2 id="credits">Credits</h2>
<p>The Open Contracting Data Standard project is a collaboration of the <a href="http://www.open-contracting.org/home-v1">Open Contracting Partnership</a> and the <a href="http://www.webfoundation.org">World Wide Web Foundation (Web Foundation)</a>, supported by a grant from <a href="http://www.omidyar.com/">Omidyar Network</a> and the <a href="http://www.worldbank.org">World Bank</a>, with <a href="http://www.aptivate.org">Aptivate</a> as the lead technical partner to the project. The development of this draft has been led by Sarah Bird (<a href="http://www.aptivate.org">Aptivate</a>), with contributions from Tim Davies (Web Foundation) and Ana Brandusescu. </p>
<p>Coordinators of the research leading towards this standard include: Michael Roberts, Lindsey Marchessault, Marcela Rozo and Steven Davenport. </p>
<div class="footnote">
<hr />
<ol>
<li id="fn:1">
<p>The book is available free of charge at <a href="http://www.pro-act.org">http://www.pro-act.org</a>&#160;<a class="footnote-backref" href="#fnref:1" rev="footnote" title="Jump back to footnote 1 in the text">&#8617;</a></p>
</li>
<li id="fn:2">
<p>The use of add-on conditions were adapted from the
The Popolo Project - <a href="http://popoloproject.com/specs/#conformance">http://popoloproject.com/specs/#conformance</a>&#160;<a class="footnote-backref" href="#fnref:2" rev="footnote" title="Jump back to footnote 2 in the text">&#8617;</a></p>
</li>
</ol>
</div> </div>
            <div class="tab-pane" id="tabs-2"> <h2 id="vocabulary">Vocabulary</h2>
<p>The world of procurement and contacting has many specialist terms. However, the precise way that these terms are used can vary from sector to sector, and country to country. Below we define how we are using a number of key terms. </p>
<ul>
<li>
<p><strong>Contract</strong> - the specific document that is finally signed between the buyer (a public entity) and supplier.</p>
</li>
<li>
<p><strong>Contracting</strong> - the entire process of public contracting including the
    planning, formation, award, execution, performance, completion, and
    evaluation of a contract. Contracting includes the variety of contract types from more basic contracts
    for procurement of goods to complex contracts, joint venture agreements, licenses and production sharing agreements. Other terms that may be used for this process are public procurement, public tendering. </p>
</li>
<li>
<p><strong>Contracting Process</strong> - is the sequence of events related to the lifespan of 
    a contract, beginning with planning and culminating in contract closure. It is contested whether this is a chain or in fact a cycle, as the results reported throughout the process should be used to inform subsequent contracting practices.<sup id="fnref:1"><a class="footnote-ref" href="#fn:1" rel="footnote">1</a></sup> See below for a detailed description of the phases of the contracting process. In addition, in the data standard, we define a unique contracting process as one with a unique procurement process (see standard for more details).</p>
</li>
<li>
<p><strong>Formation</strong> - In procurement this is generally known as tendering: the process on inviting suppliers to submit bids for evaluation and selecting a winner or winners. Other types of formation include: open competitive bidding, direct / sole-source, shopping / three quotations, inverse auctions, and framework contracts. The process may only involve a negotiation between the public entity and the private entities, there may be no public or competitive element to it.</p>
</li>
<li>
<p><strong>Open Contracting</strong> - norms and practices for increased disclosure and participation in public contracting. 
    It covers the entire contracting process. Open contracting encompasses all public contracting, including contracts
    funded by combinations of public, private and donor sources.</p>
</li>
<li>
<p><strong>Notice</strong> - a document providing information about a specific stage of the contracting process. For example, a tender 
    notice or an award notice. </p>
</li>
<li>
<p><strong>Release</strong> - the publication of information about any aspect of contracting. Often in the form of a notice, but 
    also including other supplementary releases of information. </p>
</li>
<li>
<p><strong>Termination</strong> - the ending of a contract, either because the contracted activity is complete, or because of some other reason (e.g. breach of contract terms).</p>
</li>
</ul>
<div class="panel panel-success">
    <div class="panel-heading">
       <h4 class="panel-title"> <span class="glyphicon glyphicon-question-sign"></span> Consultation questions</h3>
     </div>
     <div class="panel-body">
         <ul>
             <li>Is this proposed use of vocabulary clear and robust?</li>
             <li>Are there any third-party sources we should draw upon for clear definitions of these and other terms?</li>
         </ul>     
     </div>
</div>

<h2 id="the-contracting-process">The Contracting Process</h2>
<p>Excerpt from <em>Open Contracting - A guide for practitioners by practitioners</em> as background for the diagram documenting the Contracting Process. </p>
<h3 id="planning">Planning</h3>
<p>The planning stage must ensure that the contract is in line with the government's action plan and with the mission of the public entity that will oversee it. In the planning stage, the need must be identified and narrowed down, along with the associated risks. The need assesment phase must include consultation with key beneficiaries, also looking at what has worked in the past and inefficiencies of previous contracts. The budget must be allocated. Documents such as annual procurement plans and annual budgets are mandatory in several countries and mark the beginning of the planning stage. Citizens can review different documents associated with the planning stage. They should also advocate for consulations so that decisions are made on the basis of needs effectively expressed by potential beneficiaries and the have a say on the options available.</p>
<p>Several countries have developed provisions in their laws to establilsh the role of citizens in the planning stage. For instance, infrastructure and extraction projects in many Latin American countries must be subject to hearings and agreements with the indigenous communities that will be affected by these projects. Failure to reach an agreement means cancelling or at least modifying the contract to deal with the issues raised during the hearings. This community consultation process should be advocated by any community in the world, as it implies the exercise of the right to information and free and informed consent as established by the International Labour Organisation Convention 169 and the UN Declaraion of the Rights of Indigenous People. </p>
<p>In the specific case of a Public-Private Partnership (PPP), not only should the purpose of the project be assessed, but the citizen should alsask why the government is engaging in PPP rather than in a public work. There are certain characteristics that make this type of contract preferable in certain situations, where risks can be shared between public and private parties involved. These contracts usually have longer timeframes and larger budget dimensions, which makes them an important consideration of open contracting.</p>
<h3 id="tendering">Tendering</h3>
<p>Once the contract has been planned, the entity is ready to open the tendering process. This is usually done by inviting interested suppliers to submit bids that will be evaluated according to specific procedures and evaluation critera set in the bidding documents. In general, citizens should be allowed to comment on the requirements and procedures before the bids are submitted. Once the "winner" is chosen and before the contract is signed, the losing bidders should be alowed to file complaints if they find that the process has not properly followed the established rules. This means that the public entities should have transparent grievance redress mechanisms. Citizens also have a key role once the evaluation decision is announced and can ask for detailed explanations.</p>
<p>What are the different types of tendering? In some cases, public contracting follows a direct contracting scheme, such as when only one company has the specific expertise for the work, or when urgency does not allow for the complete open tendering process. Nonetheless, the reasons for such a decision should be clearly justified in writing.</p>
<p>Beyon direct contracting there are several modes of tendering from shopping (known as three quotations method), open competitive bidding, inverse auctions, framework contracts to more complex contractual arrangements as public-private partnerships, licenses and concessions.</p>
<h3 id="contract-execution">Contract Execution</h3>
<p>After the contract is awarded, the contract is signed, and the necessary guarantees are in place, the execution of the contract starts. During the execution stage, the contractor must comply with the legal requirements as well as with what was stated in the contract. The public entity is accountable for ensuring that the contract is being executed in a proper and timely manner and in compliance with what was agreed, particularly regarding payments. In case of any contract variations, the public entity should notify the relevany authority as well as keep a record of the variations and the justifications.</p>
<p>At this stage, proper contract management procedures must be in place and citizens should ask whether ther milestones -- regarding costs and times -- are being met. Are the parties meeting the commitments that were put in the contract? If there are amendments, why are they happening? Are they justified? Quality of deliverables is also a key factor to be evaluated at several points throughout the contract execution stage.</p>
<h3 id="closing">Closing</h3>
<p>The contract must be closed once the obligations have been fulfiled. Nevertheless, it is important to state that it is possible for contract obligations to exceed the contract term. For example, guarantees may be enforced even after the last payment has ocurred. For instance, if a road is built and paid for, but is ruined several months later - well within the warranty period - both procuring entities and citizens should exert effort in taking the contractor into account. </p>
<p>Likewise, post-consumption obligaions may be present, such as disposal schemes for polluting materials in the case of oil, gas and mining deals. The contract should answer the questions: Is the contractor obliged to pick up the polluting packaging? Was the community affected as a result of the contracts completion? What was the impact of the project or procurement and was it consustent with what was planned? Answers to questions like these can drive positive changes, making a contractor assume responsibility and establishing fresh grounds for government to improve future contract planning.</p>
<div class="footnote">
<hr />
<ol>
<li id="fn:1">
<p>Source: Open Contracting - A guide for practitioners by practitioners - downloaded from <a href="http://pro-act.org/">http://pro-act.org/</a> (May 2014)&#160;<a class="footnote-backref" href="#fnref:1" rev="footnote" title="Jump back to footnote 1 in the text">&#8617;</a></p>
</li>
</ol>
</div> </div>
            <div class="tab-pane" id="tabs-3">
                <ul class="nav nav-tabs">
                    <li><a href="#tabs-3-1" data-toggle="tab">Release</a></li>
                    <li><a href="#tabs-3-2" data-toggle="tab">Release Package</a></li>
                    <li><a href="#tabs-3-3" data-toggle="tab">Record Package</a></li>
                    <li><a href="#tabs-3-4" data-toggle="tab">Versioned Release</a></li>
                </ul>
                <div class="tab-content">
                    <h5 class="pull-right text-right">Written in <a href="http://json-schema.org/">JSON Schema v4</a><br /><span style="color: darkred">*</span> required field</h5>
                    <div class="tab-pane active" id="tabs-3-1">
                        <div class="schema-holder">
                            
                                <script src="/standard/static/docson/widget.js" data-schema=/standard/r/draft_june_20_2014/release-schema.json></script>
                            
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-3-2">
                        <div class="schema-holder">
                            
                                <script src="/standard/static/docson/widget.js" data-schema=/standard/r/draft_june_20_2014/release-package-schema.json></script>
                            
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-3-3">
                        <div class="schema-holder">
                            
                                <script src="/standard/static/docson/widget.js" data-schema=/standard/r/draft_june_20_2014/record-package-schema.json></script>
                            
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-3-4">
                        <br />
                        <br />
                        <h5>This contains the merge strategies to build a versionedRelease for the record. Click the {} button to see the schema detail.</h5>
                        <div class="schema-holder">
                            
                                <script src="/standard/static/docson/widget.js" data-schema=/standard/r/draft_june_20_2014/versioned-release-schema.json></script>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-4"> <p><br /></p> </div>
            
        </div>
    </div>
    <!-- OVERLAY DIALOGS -->
    <div class="modal fade" id="changeVersion" tabindex="-1" role="dialog" aria-labelledby="ChangeVersion" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Change release</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <ul>
                            
                            <li><a href="/standard/r/0__3__3/">0.3.3</a> (Last modified: Fri, 19 Sep 2014 16:18:54 GMT)</li>
                            
                            <li><a href="/standard/r/0__3__2/">0.3.2</a> (Last modified: Wed, 03 Sep 2014 08:40:19 GMT)</li>
                            
                            <li><a href="/standard/r/0__3__1/">0.3.1</a> (Last modified: Wed, 03 Sep 2014 02:43:44 GMT)</li>
                            
                            <li><a href="/standard/r/0__3__0/">0.3.0</a> (Last modified: Tue, 02 Sep 2014 15:55:33 GMT)</li>
                            
                            <li><a href="/standard/r/0__2__0/">0.2.0</a> (Last modified: Wed, 25 Jun 2014 13:07:49 GMT)</li>
                            
                            <li><a href="/standard/r/0__1__0/">0.1.0</a> (Last modified: Fri, 20 Jun 2014 22:17:00 GMT)</li>
                            
                            <li><a href="/standard/r/draft_june_20_2014_2/">Draft June 20 2014 2</a> (Last modified: Fri, 20 Jun 2014 20:14:58 GMT)</li>
                            
                            <li><a href="/standard/r/draft-june-5-2014/">Draft-June-5-2014</a> (Last modified: Fri, 06 Jun 2014 04:42:13 GMT)</li>
                            
                            <li><a href="/standard/r/draft-june-1-2014/">Draft-June-1-2014</a> (Last modified: Mon, 02 Jun 2014 02:30:45 GMT)</li>
                            
                        </ul>
                        <ul>
                            
                            <li><a href="/standard/r/master/">Master</a> - the current working draft of the standard. This is not a release, it is our working copy currently undergoing edits.</li>
                            
                        </ul>
                    </p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    </div>
    
    <!-- OVERLAY DIALOGS -->
    <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="Help" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        In order to comment, you must be logged in. To log in, click the <span class="oi oi-account-login" aria-hidden="true"></span>
                        button in the top bar. After logging in you can select senctences or paragraphs in the document and an icon will appear, as shown in the
                        image below. Click the icon and enter text to view it.
                    </p>
                    <p>
                        <img src="/standard/static/images/annotation_demo.png" width="150px"/>
                    </p>
                    <p>
                        If you are having any problems, please don't hesitate to email us on our <a href="https://groups.google.com/a/webfoundation.org/forum/#!forum/public-ocds">mailing list</a>.
                    </p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <footer>
        <div class="container">
        <p>A site of the <a href="http://open-contracting.github.io/">Open Contracting Data Standard</a>.
        Site built with <a href="http://getbootstrap.com">bootstrap</a>, 
        <a href="http://subtlepatterns.com">subtle patterns</a>, 
        and <a href="https://useiconic.com/open">open iconic</a>. 
        Any problems with the site, please contact us through <a href="https://github.com/open-contracting/open-contracting.github.io/issues">github</a>.
        </p>
        </div>
    </footer>
    
    
        <script type="text/javascript" src="/standard/static/js/site.js?99066e46"></script>
    

    
    <script src="http://assets.annotateit.org/annotator/v1.2.9/annotator-full.min.js"></script>
    <script>
    jQuery(function ($) {
      if ($('html').is('.ie6, .ie7, .ie8, .ie9')) {
        alert("This site does not work with Internet Explorer 9 or earlier. Please use a more recent version of Internet Explorer, or an open-source browser such as Firefox"); 
      } else {
        var PROJECTNAME = 'ocdsstandard',
            VERSION = 'draft june 20 2014',
            URI = 'http://ocds.open-contracting.org/standard/r/draft_june_20_2014/',
            SITE_UNIQUE_ID = '2345SDFGertd456DGrw54trg',
            PAGE_UNIQUE_ID = SITE_UNIQUE_ID + VERSION;

        a = $('#annotatable').annotator(
            
               { readOnly: true }
            
            );
        a.annotator('setupPlugins', {}, {
            
                Auth: false,
            

            Tags: false,
            Store: false,
            Filter: false,
            Permissions: {
                showViewPermissionsCheckbox: false,
                showEditPermissionsCheckbox: false,
                user: '',
                permissions: {
                    'read':   ["group:__world__"],
                    'update': [""],
                    'delete': [""],
                    'admin':  [""],
                },
            },
        });
        a.annotator('addPlugin', 'Store', { 
            prefix: 'http://annotateit.org/api',
            annotationData: {
                'project': PROJECTNAME,
                'version': VERSION,
                'uri': URI,
                'siteuid': SITE_UNIQUE_ID,
                'pageuid': PAGE_UNIQUE_ID,
            },
            loadFromSearch: {
                
                    'pageuid': PAGE_UNIQUE_ID.toLowerCase(),
                
                'limit': 1000,
            },
        });
      }
    });
    </script>


        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-47685715-2', 'auto');
            ga('send', 'pageview');

        </script>
</body>
</html>
