<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title"><span class="glyphicon glyphicon-warning-sign"></span> Old release in old format</h4>
    </div>
    <div class="panel-body">
			<p>You are viewing a release in an old format.  These pages have been frozen as they are not
			compatible with the current code.  The parts of the page that are frozen include:</p>
			<ul>
				<li>the links to the other versions from the top panel - so no new versions are listed there./li>
				<li>the page is displayed for a logged out user - whether or not you are currently logged in.</li>
			</ul>
			<p>Unless you are interested in this page for historical reasons, please go to <a href="../../">the latest version</a>.</p>
    </div>
</div>
