<div class="panel panel-danger">
    <div class="panel-heading">
        <h4 class="panel-title"><span class="glyphicon glyphicon-warning-sign"></span> Old release in old format</h4>
    </div>
    <div class="panel-body">
			<p>You are viewing an release from the early development stages of the Open Contracting Data Standard.
			These pages have been frozen as they use an earlier documentation model which is not compatible with
			the current standard website.</p>
			<p>
			The following features are no longer in operation on this page:</p>
			<ul>
				<li>links to the the latest versions from the top panel -  please go to <a href="../../../">the latest version</a> and browse other versions of the standard from here.</li>
				<li>annotation, and any features which require you to be logged in</li>
			</ul>
			<p>Unless you are interested in this page for historical reasons, please go to <a href="../../../">the latest version</a>.</p>
    </div>
</div>
