{% extends 'base.html' %}

{% block extrahead %}
    <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.9/annotator.min.css">
{% endblock extrahead %}

{% block extranav %}
{% if request.user.is_authenticated %}
<li><a title="Logout" href="{% url 'auth_logout' %}?next={{ request.path }}"><span class="oi oi-account-logout navicon" aria-hidden="true"></span></a></li>
{% else %}
<li><a title="Login" href="{% url 'auth_login' %}?next={{ request.path }}" title="About"><span class="oi oi-account-login navicon" aria-hidden="true"></span></a></li>
{% endif %}
<li><a href="#" title="Change versions" data-toggle="modal" data-target="#changeVersion"><span class="oi oi-fork navicon" aria-hidden="true"></span></a></li>
{% endblock extranav %}

{% block content %}
    <h1>Open Contracting Data Standard - {{ current_release.display_name|title }}</h1>
    {% if current_release.is_master %}
        <p>Last modified: {{ current_release.last_modified }}</p>
    {% else %}
        <p>Released on: {{ current_release.commit.stats.last_modified }}</p>
    {% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">
        <h4 class="panel-title"> <span class="glyphicon glyphicon-question-sign"></span> Share your comments</h4>
        </div>
        <div class="panel-body">
            <p>The online version of this document is open for comment. You can share your comments in two ways:
            <ul>
                <li>Inline comments on the document - Login, by clicking on <span class="oi oi-account-login" style="font-size: .8em"></span>, and then highlight portions of text to add comment. To "reply" to an existing comment, highlight the same portion of text, and then add your comment. See <span class="oi oi-question-mark" style="font-size: .8em"></span> for more help on commenting.</li>
                <li>Mailing list - If you have more general comments that don't fit well as inline comments, then please do join our <a href="https://groups.google.com/a/webfoundation.org/forum/#!forum/public-ocds">mailing list</a> and start a discussion with your thoughts.</li>
            </ul>
            Throughout this document there are specific questions for consultation included, but you are not limited to responding to these questions, we welcome all input you can offer.</p>
            
        </div>
    </div>
    {% if current_release.is_master %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="glyphicon glyphicon-warning-sign"></span>You are viewing master, comments may not appear if they were on previous versions of master.</h4>
        </div>
        <div class="panel-body">
            <p>You are reading the latest version of the standard.</p>
            <p>The master document is a living document that is changing as we update it. </p>
            <p>This version of master is identified by its unique id: {{ current_release.commit }}</p>
            <p>Any comments you make will not show up if master is updated, but will always be available <a href="{% url 'commit' current_release.commit %}">here</a></p>
        </div>
    </div>
    {% endif %}
    {% if commit %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="glyphicon glyphicon-warning-sign"></span>You are the version of the standard at commit {{ commit }}.</h4>
        </div>
        <div class="panel-body">
            <p>The lastest version of the standard is always changing.</p>
            <p>The <a href="{% url 'standard' 'master' %}">master document</a> is a living document that is changing as we update it.</p>
            <p>This is a specific version of the standard for viewing comments on this specific version ({{ commit }}).</p>
            <p>You may have eneded here by mistake and want to view the <a href="{% url 'standard' 'latest' %}">latest released version of the standard</a>.</p>
        </div>
    </div>
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tabs-1" data-toggle="tab">Main</a></li>
        <li><a href="#tabs-2" data-toggle="tab">Definitions</a></li>
        <li><a href="#tabs-3" data-toggle="tab">Schemas</a></li>
        <li><a href="#tabs-4" data-toggle="tab">Merging</a></li>
        {% comment %}
        <li><a href="#tabs-5" data-toggle="tab">Worked Example</a></li>
        {% endcomment %}
    </ul>
    <div id="annotatable"> 
        <div class="tab-content">
            <div class="tab-pane active" id="tabs-1"> {{ standard|safe }} </div>
            <div class="tab-pane" id="tabs-2"> {{ vocabulary|safe }} </div>
            <div class="tab-pane" id="tabs-3">
                <ul class="nav nav-tabs">
                    <li><a href="#tabs-3-1" data-toggle="tab">Release</a></li>
                    <li><a href="#tabs-3-2" data-toggle="tab">Release Package</a></li>
                    <li><a href="#tabs-3-3" data-toggle="tab">Record Package</a></li>
                    <li><a href="#tabs-3-4" data-toggle="tab">Versioned Release</a></li>
                </ul>
                <div class="tab-content">
                    <h5 class="pull-right text-right">Written in <a href="http://json-schema.org/">JSON Schema v4</a><br /><span style="color: darkred">*</span> required field</h5>
                    <div class="tab-pane active" id="tabs-3-1">
                        <div class="schema-holder">
                            {% if commit %}
                                <script src="{{ STATIC_URL }}docson/widget.js" data-schema={% url 'schema-commit' commit 'release-schema' %}></script>
                            {% else %}
                                <script src="{{ STATIC_URL }}docson/widget.js" data-schema={% url 'schema' current_release.name 'release-schema' %}></script>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-3-2">
                        <div class="schema-holder">
                            {% if commit %}
                                <script src="{{ STATIC_URL }}docson/widget.js" data-schema={% url 'schema-commit' commit 'release-package-schema' %}></script>
                            {% else %}
                                <script src="{{ STATIC_URL }}docson/widget.js" data-schema={% url 'schema' current_release.name 'release-package-schema' %}></script>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-3-3">
                        <div class="schema-holder">
                            {% if commit %}
                                <script src="{{ STATIC_URL }}docson/widget.js" data-schema={% url 'schema-commit' commit 'record-package-schema' %}></script>
                            {% else %}
                                <script src="{{ STATIC_URL }}docson/widget.js" data-schema={% url 'schema' current_release.name 'record-package-schema' %}></script>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-3-4">
                        <br />
                        <br />
                        <h5>This contains the merge strategies to build a versionedRelease for the record. Click the {} button to see the schema detail.</h5>
                        <div class="schema-holder">
                            {% if commit %}
                                <script src="{{ STATIC_URL }}docson/widget.js" data-schema={% url 'schema-commit' commit 'versioned-release-schema' %}></script>
                            {% else %}
                                <script src="{{ STATIC_URL }}docson/widget.js" data-schema={% url 'schema' current_release.name 'versioned-release-schema' %}></script>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabs-4"> {{ merging|safe }} </div>
            {% comment %}
            <div class="tab-pane" id="tabs-5"> {{ worked_example|safe }} </div>
            {% endcomment %}
        </div>
    </div>
    <!-- OVERLAY DIALOGS -->
    <div class="modal fade" id="changeVersion" tabindex="-1" role="dialog" aria-labelledby="ChangeVersion" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Change release</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <ul>
                            {% for release in other_releases %}
                            <li><a href="{% url 'standard' release.name %}">{{ release.display_name|title }}</a> (Last modified: {{ release.commit.stats.last_modified }})</li>
                            {% endfor %}
                        </ul>
                        <ul>
                            {% if not current_release.is_master %}
                            <li><a href="{% url 'standard' 'master' %}">Master</a> - the current working draft of the standard. This is not a release, it is our working copy currently undergoing edits.</li>
                            {% endif %}
                        </ul>
                    </p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock content %}

{% block javascript %}
    <script src="http://assets.annotateit.org/annotator/v1.2.9/annotator-full.min.js"></script>
    <script>
    jQuery(function ($) {
      if ($('html').is('.ie6, .ie7, .ie8, .ie9')) {
        alert("This site does not work with Internet Explorer 9 or earlier. Please use a more recent version of Internet Explorer, or an open-source browser such as Firefox"); 
      } else {
        var PROJECTNAME = 'ocdsstandard',
            VERSION = '{% if current_release.is_master %}{{ current_release.commit }}{% else %}{{ current_release.display_name }}{% endif %}',
            URI = '{{ request.build_absolute_uri }}',
            SITE_UNIQUE_ID = '{{ site_unique_id }}',
            PAGE_UNIQUE_ID = SITE_UNIQUE_ID + VERSION;

        a = $('#annotatable').annotator(
            {% if not request.user.is_authenticated %}
               { readOnly: true }
            {% endif %}
            );
        a.annotator('setupPlugins', {}, {
            {% if request.user.is_authenticated %}
                Auth: {tokenUrl: '{% url 'token' %}'},
            {% else %}
                Auth: false,
            {% endif %}

            Tags: false,
            Store: false,
            Filter: false,
            Permissions: {
                showViewPermissionsCheckbox: false,
                showEditPermissionsCheckbox: false,
                user: '{{ request.user.username }}',
                permissions: {
                    'read':   ["group:__world__"],
                    'update': ["{{ request.user.username }}"],
                    'delete': ["{{ request.user.username }}"],
                    'admin':  ["{{ request.user.username }}"],
                },
            },
        });
        a.annotator('addPlugin', 'Store', { 
            prefix: 'http://annotateit.org/api',
            annotationData: {
                'project': PROJECTNAME,
                'version': VERSION,
                'uri': URI,
                'siteuid': SITE_UNIQUE_ID,
                'pageuid': PAGE_UNIQUE_ID,
            },
            loadFromSearch: {
                {% if commit %}
                    'version': '{{ commit }}',
                {% else %}
                    'pageuid': PAGE_UNIQUE_ID.toLowerCase(),
                {% endif %}
                'limit': 1000,
            },
        });
      }
    });
    </script>
{% endblock javascript %}
