{% extends 'base.html' %}

{% block extrahead %}
    <link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.9/annotator.min.css">
{% endblock extrahead %}

{% block extranav %}
<li><a href="#" title="Change versions" data-toggle="modal" data-target="#changeVersion"><span id="intro-minimize" class="oi oi-fork" aria-hidden="true"></span></a></li>
{% endblock extranav %}

{% block content %}
<h1>Open Contracting Data Standard - {{ current_release.display_name }}</h1>
    <p>Last modified: {{ current_release.last_modified }}</p>
    <hr>
    <div id="annotatable">
        {{ standard|safe }}
    </div>
    <div class="modal fade" id="changeVersion" tabindex="-1" role="dialog" aria-labelledby="ChangeVersion" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Change release</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <ul>
                            {% for release in other_releases %}
                            <li><a href="{% url 'standard' release.display_name %}">{{ release.name }}</a> (Released on: {{ release.last_modified }})</li>
                            {% endfor %}

                            {% if not current_release.is_master %}
                            <li><a href="{% url 'standard' 'master' %}">Master</a> - the current working draft of the standard. This is not a release, it is our working copy currently undergoing edits. The last edit was on {{ current_release.last_modified }}</li>
                            {% endif %}
                        </ul>
                    </p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock content %}

{% block javascript %}
    <script src="http://assets.annotateit.org/annotator/v1.2.9/annotator-full.min.js"></script>
    <script>
    jQuery(function ($) {
        var PROJECTNAME = 'ocdsstandard',
            VERSION = '{% if current_release.is_master %}{{ current_release.commit }}{% else %}{{ current_release.display_name }}{% endif %}',
            URI = '{{ request.build_absolute_uri }}#{% if current_release.is_master %}{{ current_release.commit }}{% endif %}',
            SITE_UNIQUE_ID = '{{ site_unique_id }}',
            PAGE_UNIQUE_ID = SITE_UNIQUE_ID + VERSION;

        a = $('#annotatable').annotator(
            {% if not request.user.is_authenticated %}
               { readOnly: true }
            {% endif %}
            );
        a.annotator('setupPlugins', {},
                   {Tags: false,
                    Filter: false,
                    {% if request.user.is_authenticated %}
                    Auth: {
                        tokenUrl: '{% url 'token' %}'
                        },
                    {% endif %}
                    Store: {
                        annotationData: {
                        'project': PROJECTNAME,
                        'version': VERSION,
                        'uri': URI,
                        'siteuid': SITE_UNIQUE_ID,
                        'pageuid': PAGE_UNIQUE_ID,
                        },
                        loadFromSearch: {
                        'uri': URI,
                        'limit': 1000,
                        },
                        showViewPermissionsCheckbox: false,
                        showEditPermissionsCheckbox: false,
                    },
                    Permissions: {
                        showViewPermissionsCheckbox: false,
                        showEditPermissionsCheckbox: false,
                        user: '{{ request.user.username }}',
                        permissions: {
                            'read':   ["group:__world__"],
                            'update': ["{{ request.user.username }}"],
                            'delete': ["{{ request.user.username }}"],
                            'admin':  ["{{ request.user.username }}"],
                        },
                    },
                   });
    });
    </script>
{% endblock javascript %}
