{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <button type="submit" class="btn btn-success">{% trans 'Log in' %}</button>
  <a href="{% url 'auth_password_reset' %}" class="btn btn-default">Reset password</a>
  <input type="hidden" name="next" value="{{ next}}" />
</form>
<hr />
<h3>Register</h3>
<p>Registration is only used to identify your comments. Your email will not be shared or re-used and is only used 
for password reset</p>
<p><a href="{% url 'registration_register' %}?next={{ request.get_full_path }}" class="btn btn-default">Register now</a></p>
{% endblock content %}
